<html>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='./mystyle.css')}}"/> 
    <div style="text-align:center">
    <button onclick="window.location.href='/'">home</button>

    <h1>What's New?</h1>
    <h2>ver 1.0 beta - barebones without fancy design.</h2>

    <h1>Who Am I?</h1>
    <h2>Nati Aker, a programmer, a Magic player and foils lover.</h2>
    <h2>I made this little project in order to help people, especially at the Adventures of the Forgotten Realm's Prerealease to track the "venture into the dungeon" mechanic.</h2>
    <h2>The physical dungeon card is too small for your taste? Do you love technology? May this project help you!</h2>
    <h3>I would love any kind of feedback!
    <p>Made with ♥ (and a day full of ☕)<p>
    </div>
</html>